body {
  margin: 0;
  font-family: 'Rum Raisin';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.55)), url(components/loginPage/images/emojibg8.JPEG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

code {
  font-family: 'Rum Raisin'
}
:local(.flow-text) {
  font-family: 'Rum Raisin';
  font-size: 75px;
   text-align: center;
}


  
